/*Screen Breakoints*/
$xs: 480px;
$sm: 845px;
$md: 979px;
$lg: 1200px;
@mixin desktop {
	@media (min-width: $lg) {
		@content;
	}
}

@mixin laptop {
	/* Portrait tablet to landscape and desktop */
	@media (min-width: $sm) and (max-width: $md) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: $sm) {
		@content;
	}
}

@mixin phone {
	@media (max-width: $xs) {
		@content;
	}
}